:root {
  --page-bg-color: #ffffff;
  --course-image-bg-color: #ffcf2d;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: var(--page-bg-color);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 44px; /* figma: 50px (background top) + (-6px) (page title top) */
  row-gap: 85px; /* figma: 221px (tabs top) - 44px (from previos row) - 92px (page title height) */
}
.header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between; /* figma: space between 24px (subtitle) and 60px (title) */
  height: 92px; /* figma: page title height */
}
.header__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin: 0;
}
.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1e212c;
  margin: 0;
}
.panel {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px; /* figma */
  padding-bottom: 70px;
}
.toolbar {
  width: 100%;
  max-width: 1230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.filter-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 12px;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.filter-item {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  column-gap: 4px;
  cursor: pointer;
}
.filter-item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
}
.filter-item__count {
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  color: #9a9ca5;
}
.filter-item_selected {
  border-radius: 4px;
  border: 1px solid #ff3f3a;
}
.filter-item_selected .filter-item__title,
.filter-item_selected .filter-item__count {
  color: #ff3f3a;
}
.search-form {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-basis: 315px;
  border-radius: 4px;
  border: 1px solid #d7dadd;
}
.search-form__input {
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 11px 16px;
  border: 0;
  outline: 0;
}
.search-form__input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9a9ca5;
}
.search-form__button {
  width: 16px;
  height: 16px;
  position: relative;
  top: 14px;
  right: 16px;
}
.courses-panel {
  width: 100%;
  max-width: 1230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.course-item {
  flex: 1 1 390px;
  min-width: 250px;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #e5e8ed;
  height: 438px;
  box-shadow: 0px 80px 80px -20px #9a9ca514;
  cursor: pointer;
}
.course-item__image-wrapper {
  width: 100%;
  height: 240px;
  background-color: var(--course-image-bg-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.course-item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.course-item__content {
  flex-grow: 1;
  padding: 23px;
  padding-top: 24px; /* figma */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.course-item__category {
  align-self: start;
  background-color: #03cea4;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border-radius: 4px;
  padding: 1px 8px;
}
.course-item__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.course-item__info {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}
.course-item__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ff4242;
}
.course-item__divider {
  width: 1px;
  height: 16px;
  background-color: #787a80;
}
.course-item__author {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787a80;
}
.load-more {
  align-self: center;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  cursor: pointer;
}
.load-more__icon {
  width: 24px;
  height: 24px;
}
.load-more__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  align-self: center;
  color: #424551;
}
